{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "react", "standard", "@typescript-eslint", "react-hooks"],
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/camelcase": 0,
    "no-prototype-builtins": 0,
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
